{% load staticfiles %}
<html>
<head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allerta+Stencil" />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
<body>

<div class="specialtitle">
    <h1 class="maintitle"><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
        <p class="published">published: {{ post.published_date }}</p>
    </div>
{% endfor %}
</body>
</html>